<div class="content-wrapper">
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>

  <div class="content-footer">
    <a [routerLink]="['./view']" [queryParamsHandling]="'merge'" [ngClass]="{ 'is-active': !isEditMode() }">
      <span class="icon is-small"><i class="fas fa-eye"></i></span>
      <span>View</span>
    </a>
    <a [routerLink]="['./edit']" [queryParamsHandling]="'merge'" [ngClass]="{ 'is-active': isEditMode() }">
      <span class="icon is-small"><i class="fas fa-edit"></i></span>
      <span>Edit</span>
    </a>
  </div>
</div>
