<div class="folder">
  <!-- Folder details -->
  <div *ngIf="folder.key"
       class="folder-link"
       (contextmenu)="openFolderMenu()"
       (click)="opened = !opened">
      <span class="icon is-small">
        <i class="caret fas fa-caret-down" *ngIf="opened"></i>
        <i class="caret fas fa-caret-right" *ngIf="!opened"></i>
        <i class="fas fa-folder"></i>
      </span>
    <span>{{ folder.key }}</span>
  </div>
  <ul *ngIf="opened || !folder.key"
      class="folder-list" [class.-root]="!folder.key">
    <li *ngFor="let item of sortedItems"
        class="folder-list-item">
      <!-- Sub-folder -->
      <app-folder *ngIf="item.value"
                  [folder]="item"
                  (openFile)="open($event)"
                  (newItem)="createNewItem($event)"
                  (delete)="deleteItem($event)">
      </app-folder>
      <!-- File -->
      <div *ngIf="!item.value"
           class="folder-link"
           (contextmenu)="openFolderMenu(item.key)"
           (click)="open([item.key])">
        <span class="icon is-small">
          <i class="fas fa-file"></i>
        </span>
        <span>{{ item.key }}</span>
      </div>
    </li>
    <!-- New item -->
    <li *ngIf="create">
      <div class="folder-link">
        <span *ngIf="create.type === 'file'" class="icon is-small">
          <i class="fas fa-file"></i>
        </span>
        <span *ngIf="create.type === 'folder'" class="icon is-small">
          <i class="fas fa-folder"></i>
        </span>
        <input type="text"
               #itemInput
               (focusout)="onInput($event, create.type)"/>
      </div>
    </li>
  </ul>
</div>
