.section.main-container {
  padding: 0.75rem;
  background-color: #fafbfc;

  .column {
    height: 100vh;
    padding: 0;

    &-sidebar {
      overflow-y: auto;
    }
  }
}

.settings-link {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 7px 15px 8px;
}
