<section class="section main-container">
  <div class="columns">
    <div class="column is-2 column-sidebar">
      <app-sidebar [items]="files"
                   (newFile)="createNewFile($event)"
                   (newFolder)="createNewFolder($event)">
      </app-sidebar>
    </div>
    <div class="column is-10 column-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>

<a class="settings-link"
   [routerLink]="[{ outlets: { 'modal': ['settings'] } }]"
   [queryParamsHandling]="'merge'">
  <span class="icon is-small"><i class="fas fa-cog"></i></span>
</a>

<router-outlet name="modal"></router-outlet>

<app-context-menu></app-context-menu>
