.sidebar {
  padding: 0 0.5rem;

  &-container &-container {
    margin-left: 1rem;
  }

  &-item {
    padding: 0.2rem;

    &-link {
      color: #6a737d;

      &:hover {
        color: #0366d6;
      }
    }
  }

  .icon {
    margin-right: 0.3rem;
  }
}
