<aside class="sidebar">
  <ul class="sidebar-container" *ngIf="sortedItems">
    <li class="sidebar-item" *ngFor="let item of sortedItems">
      <a [routerLink]="['/content/view']"
         [queryParams]="{ file: [item.key] }"
         [routerLinkActive]="'is-active'"
         class="sidebar-item-link">
        <span class="icon is-small" *ngIf="hasItems(item)"><i class="fas fa-folder"></i></span>
        <span class="icon is-small" *ngIf="!hasItems(item)"><i class="fas fa-file"></i></span>
        <span>{{ item.key }}</span>
      </a>
      <ul class="sidebar-container" *ngIf="hasItems(item)">
        <li class="sidebar-item" *ngFor="let item2 of item.value">
          <a [routerLink]="['/content/view']"
             [queryParams]="{ file: [item.key, item2.key] }"
             [routerLinkActive]="'is-active'"
             class="sidebar-item-link">
            <span class="icon is-small" *ngIf="hasItems(item2)"><i class="fas fa-folder"></i></span>
            <span class="icon is-small" *ngIf="!hasItems(item2)"><i class="fas fa-file"></i></span>
            <span>{{ item2.key }}</span>
          </a>
          <ul class="sidebar-container" *ngIf="hasItems(item2)">
            <li class="sidebar-item" *ngFor="let item3 of item2.value">
              <a [routerLink]="['/content/view']"
                 [queryParams]="{ file: [item.key, item2.key, item3.key] }"
                 [routerLinkActive]="'is-active'"
                 class="sidebar-item-link">
                <span class="icon is-small"><i class="fas fa-file"></i></span>
                <span>{{ item3.key }}</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</aside>
